*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    
}
.card-section
{
    height: auto;
    margin: 2rem 0 2rem 0;
    background-color: #F5F7F8;
    
    padding-top: 2rem;
    padding: 1rem;
}
.card-section h2
{
    margin: 1rem;
    text-align: center;
    font-family: sans-serif;
}
.card-container
{
    display: flex;
    justify-content:space-evenly;
    padding: 0.5rem 1rem;
    row-gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    
}
.card
{
    /* width: 325px; */
     width: 295px;
    /* width: 30%; */
    height: auto;
    padding: 0.5rem;
    
    /* background-color: lightgray; */
    background-color: #FFFFFF;
    border-radius: 0 !important; 
    border: none;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 0.5rem;
    
}
.card:hover
{
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.card-img img
{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
}
.card-img
{
    height: 60%;
    width: 100%;
}

.card-content
{
    padding: 8px;
}
.card-content h3
{
    font-size: 25px;
    margin-bottom: 2px;
    text-align: center;
}
.card-content p
{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.custom-btn
{
    display: inline-block;
    height: auto;
    width: auto;
    margin: 0.1rem 1rem;
    padding: 8px 16px;
    background-color: #041562;
    color: white;
    text-decoration: none;
    border: none;
    /* border-radius: 5px; */
    
}
.custom-btn:hover
{
    background-color: #198754;
}